<legend class="text-success"><%= t('.basic_info') %></legend>
<div class="row">
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:device_name) %></h4></span>
  <span class="span4 text-left"><h4><%= @device.device_name %></h4></span>
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:device_no) %></h4></span>
  <span class="span4 text-left"><h4><%= @device.device_no %></h4></span>
</div>
<div class="row">
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:specification) %></h4></span>
  <span class="span4 text-left"><h4><%= @device.specification %></h4></span>
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:category_id) %></h4></span>
  <span class="span4 text-left"><h4><%= @device.category.try(:name) %></h4></span>
</div>
<div class="row">
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:manufacturer_id) %></h4></span>
  <span class="span4 text-left"><h4><%= @device.manufacturer.try(:name) %></h4></span>
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:supplier_id) %></h4></span>
  <span class="span4 text-left"><h4><%= @device.supplier.try(:name) %></h4></span>
</div>
<legend class="text-success"><%= t('.accounting_info') %></legend>
<div class="row">
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:service_date) %></h4></span>
  <span class="span2 text-left"><h4><%= @device.service_date %></h4></span>
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:original_cost) %></h4></span>
  <span class="span2 text-left"><h4><%= @device.original_cost %></h4></span>
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:responsible_by_id) %></h4></span>
  <span class="span2 text-left"><h4><%= @device.responsible_by.try(:name) %></h4></span>
</div>
<div class="row">
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:depreciation_method) %></h4></span>
  <span class="span2 text-left"><h4><%= @device.depreciation_method_name %></h4></span>
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:salvage_rate) %></h4></span>
  <span class="span2 text-left"><h4><%= @device.salvage_rate %></h4></span>
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:depreciation_life) %></h4></span>
  <span class="span2 text-left"><h4><%= @device.depreciation_life %></h4></span>
</div>
<legend class="text-success"><%= t('.maintenance_info') %></legend>
<div class="row">
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:inspection_period) %></h4></span>
  <span class="span2 text-left"><h4><%= @device.inspection_period %></h4></span>
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:inspection_date_prev) %></h4></span>
  <span class="span2 text-left"><h4><%= @device.inspection_date_prev %></h4></span>
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:inspection_date_next) %></h4></span>
  <span class="span2 text-left"><h4><%= @device.inspection_date_next %></h4></span>
</div>
<div class="row">
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:service_status) %></h4></span>
  <span class="span4 text-left"><h4><%= @device.service_status_name %></h4></span>
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:user_department_id) %></h4></span>
  <span class="span4 text-left"><h4><%= @device.user_department.try(:name) %></h4></span>
</div>
<div class="row">
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:operator_id) %></h4></span>
  <span class="span4 text-left"><h4><%= @device.operator.try(:name) %></h4></span>
  <span class="span2 text-right text-info"><h4><%= Device.human_attribute_name(:installation_site_id) %></h4></span>
  <span class="span4 text-left"><h4><%= @device.installation_site.try(:name) %></h4></span>
</div>
