<div class="well" style="padding: 8px 0;">
  <ul class="nav nav-list">

    <li class="nav-header"><%= t('.info_management') %></li>
    <li><a href="/devices"><%= t('.device_management') %></a></li>
    <li><a href="/spareparts"><%= t('.sparepart_management') %></a></li>
    <li><a href="/tools"><%= t('.tool_management') %></a></li>
    <li><a href="/documents"><%= t('.document_management') %></a></li>
    <li class="divider"></li>

    <li class="nav-header"><%= t('.maintanence_repair') %></li>
    <li><a href="/repair_records"><%= t('.repair_record') %></a></li>
    <li><a href="/maintanence_records"><%= t('.maintanence_record') %></a></li>
    <li><a href="/inspection_records"><%= t('.inspection_record') %></a></li>
    <li class="divider"></li>

    <li class="nav-header"><%= t('.master_data') %></li>
    <li><a href="/departments"><%= t('.department_management') %></a></li>
    <li><a href="/categories"><%= t('.category_management') %></a></li>
    <li><a href="/tool_type"><%= t('.tool_type_management') %></a></li>
    <li class="divider"></li>

  </ul>
</div>
